html {
	min-height: 100%;
}

h1, h4 {
	font-weight: lighter;
}

body {
	overflow: hidden;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
}

.quoteContainer {
	color: white;
}